# https://github.com/rabbitmq/rabbitmq-server/blob/main/deps/rabbit/docs/rabbitmq.conf.example
log.default.level = {{ rabbitmq_log_level | default('info') }}

{% if rabbitmq_cluster_name is defined and rabbitmq_cluster_name != "" %}
cluster_name = {{ rabbitmq_cluster_name }}
{% endif %}

{% if rabbitmq_cluster_tags is defined and rabbitmq_cluster_tags | length > 0 %}
{% for item in rabbitmq_cluster_tags %}
cluster_tags.{{ item }} = {{ rabbitmq_cluster_tags[item] }}
{% endfor %}
{% endif %}

{% if rabbitmq_cluster_members | length > 0 %}
cluster_formation.peer_discovery_backend = rabbit_peer_discovery_classic_config
{% for node in rabbitmq_cluster_members %}
{% if rabbitmq_use_longname | default(false) %}
cluster_formation.classic_config.nodes.{{ loop.index }} = rabbit@{{ node }}.{{ rabbitmq_domain | default('internal') }}
{% else %}
cluster_formation.classic_config.nodes.{{ loop.index }} = rabbit@{{ node }}
{% endif %}
{% endfor %}
cluster_formation.target_cluster_size_hint = {{ rabbitmq_cluster_members | length }}
{% endif %}

password_hashing_module = {{ rabbitmq_password_hashing | default('rabbit_password_hashing_sha512') }}

management.tcp.ip = {{ rabbitmq_management_listen_address }}

{% if rabbitmq_ssl is defined %}
management.ssl.port       = {{ rabbitmq_management_ssl_port }}
management.ssl.ip         = {{ rabbitmq_listen_address }}
management.ssl.cacertfile = {{ rabbitmq_ssl.ca }}
management.ssl.certfile   = {{ rabbitmq_ssl.cert }}
management.ssl.keyfile    = {{ rabbitmq_ssl.key }}

# disable non-TLS port
listeners.tcp                    = none

listeners.ssl.1                  = {{ rabbitmq_listen_address }}:{{ rabbitmq_amqp_ssl_port }}
ssl_options.verify               = {{ rabbitmq_ssl.verify | default("verify_none") }}
ssl_options.cacertfile           = {{ rabbitmq_ssl.ca }}
ssl_options.certfile             = {{ rabbitmq_ssl.cert }}
ssl_options.keyfile              = {{ rabbitmq_ssl.key }}

ssl_options.versions.1           = {{ rabbitmq_ssl.versions | default('tlsv1.2') }}
{% for c in rabbitmq_ssl_ciphers %}
ssl_options.ciphers.{{ loop.index }} = {{ c }}
{% endfor %}

{% if rabbitmq_ssl.versions is defined and "tls1.3" in rabbitmq_ssl.versions %}
ssl_options.honor_cipher_order = false
ssl_options.honor_ecc_order    = false
{% else %}
ssl_options.honor_cipher_order = true
ssl_options.honor_ecc_order    = true
{% endif %}

prometheus.ssl.port       = {{ rabbitmq_prometheus_ssl_port }}
prometheus.ssl.cacertfile = {{ rabbitmq_ssl.ca }}
prometheus.ssl.certfile   = {{ rabbitmq_ssl.cert }}
prometheus.ssl.keyfile    = {{ rabbitmq_ssl.key }}
prometheus.tcp.listener   = none
{% endif %}

queue_leader_locator = {{ rabbitmq_queue_leader_locator | default('balanced') }}
cluster_partition_handling = {{ rabbitmq_cluster_partition_handling | default('pause_minority') }}
cluster_partition_handling.pause_if_all_down.recover = {{ rabbitmq_cluster_partition_handling_pause_if_all_down | default('autoheal') }}

auth_backends.1 = internal

{% if rabbitmq_keycloak_url is defined and rabbitmq_keycloak_url != "" %}
auth_backends.2 = rabbit_auth_backend_oauth2

management.oauth_enabled = true
management.oauth_client_id = {{ rabbitmq_keycloak_client_id }}
management.oauth_scopes = {{ rabbitmq_keycloak_scopes | default('openid profile rabbitmq.tag:administrator') }}
management.oauth_provider_url = {{ rabbitmq_keycloak_url }}

auth_oauth2.resource_server_id = rabbitmq
auth_oauth2.preferred_username_claims.1 = preferred_username
auth_oauth2.preferred_username_claims.2 = user_name
auth_oauth2.preferred_username_claims.3 = username
auth_oauth2.additional_scopes_key = extra_scope
auth_oauth2.issuer = {{ rabbitmq_keycloak_url }}
auth_oauth2.https.cacertfile = {{ rabbitmq_ssl.ca }}
{% if rabbitmq_keycloak_jwks_url is defined and rabbitmq_keycloak_jwks_url != "" %}
auth_oauth2.jwks_url = {{ rabbitmq_keycloak_jwks_url }}
{% endif %}

auth_oauth2.https.peer_verification = verify_none
auth_oauth2.https.hostname_verification = none

{% endif %}

{% if rabbitmq_load_definitions_file is defined and rabbitmq_load_definitions_file != "" %}
load_definitions = {{ rabbitmq_load_definitions_file }}
{% endif %}

log.file.rotation.date = $D0
log.file.rotation.count = 7
log.file.rotation.compress = true

frame_max = {{ rabbitmq_frame_max }}
initial_frame_max = {{ rabbitmq_initial_frame_max }}
channel_max = {{ rabbitmq_channel_max }}

{% if rabbitmq_disk_free_absolute is defined and rabbitmq_disk_free_absolute != "" %}
disk_free_limit.absolute = {{ rabbitmq_disk_free_absolute }}
{% else %}
disk_free_limit.relative = {{ rabbitmq_disk_free_limit | default(2.0) }}
{% endif %}
